Source: ros-melodic-perception-pcl-c11
Section: misc
Priority: optional
Maintainer: Marc Hanheide <marc@hanheide.net>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://ros.org/wiki/perception_pcl
Standards-Version: 3.9.2

Package: ros-melodic-perception-pcl-c11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-pcl-conversions-c11, ros-melodic-pcl-msgs, ros-melodic-pcl-ros-c11
Description: PCL (Point Cloud Library) ROS interface stack.
 PCL-ROS is the preferred bridge for 3D applications involving n-D Point Clouds and 3D geometry processing in ROS.
